@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin: 0;
    overflow: hidden;
}

.btn {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    color: white;
}