@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;f
    align-items: center;
    justify-content: center;
    display:
}

.heading {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 26px;
}

.btn {
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration-line: none;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
    font-family: inherit;
    padding: 8px 30px;
    margin: 5px;
    text-color: white;
    background-color: rgb(0, 50, 200);
}