@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    background-color: darksalmon;
}

